<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Luni">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Luni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Marti">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Marti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Miercuri">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Miercuri</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Joi">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Joi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Vineri">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Vineri</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
