<!-- Default Input -->
<ion-item>
  <ion-icon slot="start" name="book"></ion-icon>
  <ion-input [(ngModel)]="title"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="ios-archive"></ion-icon>
  <ion-input [(ngModel)]="type"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="clock"></ion-icon>
  <ion-input [(ngModel)]="hour"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="calendar"></ion-icon>
  <ion-input [(ngModel)]="day"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="author"></ion-icon>
  <ion-input [(ngModel)]="day"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="adress"></ion-icon>
  <ion-input [(ngModel)]="day"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="room"></ion-icon>
  <ion-input [(ngModel)]="day"></ion-input>
</ion-item>

